---
import {contentfulClient} from "../contentful";
import {documentToHtmlString} from "@contentful/rich-text-html-renderer";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageEntries = await contentfulClient.getEntries({content_type: "page", "fields.slug": "contact"});
const page = pageEntries.items[0].fields;
---

<BaseLayout>
    <h1>{page.title}</h1>
    {page.heroImage ? <img src={page.heroImage.fields.file.url} alt={page.heroImage.fields.title} class="object-cover w-full h-72 object-center rounded-xl" /> : null}
    <article set:html={documentToHtmlString(page.body)} />
</BaseLayout>
