---
import {contentfulClient, renderBodyContent} from "../contentful";
import BaseLayout from "../layouts/BaseLayout.astro";
import DocGroup from "../components/DocGroup.astro";

const pageEntries = await contentfulClient.getEntries({content_type: "page", "fields.slug": "documents"});
const page = pageEntries.items[0].fields;

const docGroups = await contentfulClient.getEntries({content_type: "documentGroup"});
// sort alphabetically
docGroups.items = docGroups.items.sort((a, b) => a.fields.title.localeCompare(b.fields.title));
---

<style>
    h1 {
        @apply mb-4;
    }
</style>

<BaseLayout>
    <h1>{page.title}</h1>
    {page.heroImage ? <img src={page.heroImage.fields.file.url} alt={page.heroImage.fields.title} class="object-cover w-full h-72 object-center rounded-xl" /> : null}
    <article class="mt-8" set:html={renderBodyContent(page.body)} />
    {docGroups.items.map(docGroup => <DocGroup docGroup={docGroup} />)}
</BaseLayout>
